<form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	<label for="name">User Name</label>
	<input type="text" id="name" name="user[name]" value="<%= @user.name %>">
	<br>	
	<label for="email">Email</label>
	<input type="text" id="email" name="user[email]" value="<%= @user.email %>">
	<br>
	<label for="password">Password</label>
	<input type="password" id="password" name="user[password]">
	<br>
	<label for="password_comfirm">Password Confirmation</label>
	<input type="password" id="password_comfirm" name="user[password_comfirm]">
	<br>

	<input type="submit" value="Update">
</form>
<form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Account">
</form>
<a href="/users/<%= @user.id %>">Home</a>
