<h1>All Secrets</h1>
<table>
	<thead>
		<tr>
			<td>Secrets</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
	<% @secrets.each do |s| %>
		<tr>
			<td><h4><%= s.content %></h4></td>
			<td style="color:green"><%= s.likes.count %> likes</td>
			<td>
			<% if Like.find_by(user: current_user, secret: s) %>
				<form action="/likes/<%= s.user.id %>" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="secret_id" value="<%= s.id %>">
					<input type="submit" value="Unlike">
				</form>
			<% else %>
				<form action="/likes" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="secret_id" value="<%= s.id %>">
					<input type="submit" value="Like">
				</form>
			<% end %>
			</td>
			<td>
			<% if s.user == current_user %>
				<form action="/secrets/<%= s.id %>" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
			</form>
			<% end %>
			</td>
		</tr>
	<% end %>	
	</tbody>
</table>
<a href="/users/<%= current_user.id %>">My page</a>
